@model IEnumerable<Diary.UI.Models.Document>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fileName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Lawsuit)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fileName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Lawsuit)
                </td>

                <td>
                    <a asp-action="DownloadFileFromFileSystem" asp-route-id="@item.Id">Edit</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
